.profile_container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.646);
    background-blend-mode: lighten;
    width:50%;
    height:70vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:5%;
    padding:1%;
}

.profile_title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: gray;
    font-size: 2rem;
    margin-top: 1rem;
}

.profile_title_value{
    font-family: 'Roboto Slab', serif;
    color: gray;
    text-shadow: 1px 1px ;
    font-size: 2rem;
    margin-top: 1rem;
}

@media (max-width: 893px) {
    .profile_title{
        font-size: 1.5rem;
    }
    .profile_title_value{
        font-size: 1.5rem;
    }
}

@media (max-width: 816px) {
    .profile_container{
        margin-top: 6rem;
    }
    .profile_title{

        font-size: 1.5rem;
    }
    .profile_title_value{
        font-size: 1.5rem;
    }
}

@media (max-width: 670px) {
    .profile_title{
        font-size: 1.3rem;
    }
    .profile_title_value{
        font-size: 1.3rem;
    }
}

@media (max-width: 564px) {
    .profile_title{
        font-size: 1.1rem;
    }
    .profile_title_value{
        font-size: 1.1rem;
    }
}
@media (max-width: 474px) {
    .profile_title{
        font-size: 1rem;
    }
    .profile_title_value{
        font-size: 1rem;
    }
}
@media (max-width: 420px) {
    .profile_title{
        display: none;
    }
    .profile_title_value{
        font-size: 1.15rem;
    }
}